{
    "workflows": [
        {
            "file": "sd_qnn_workflow.json",
            "templateName": "sd_qnn_workflow"
        },
        {
            "file": "sd_ov_workflow.json",
            "templateName": "sd_ov_workflow"
        },
        {
            "file": "sd_ov_npu_workflow.json",
            "templateName": "sd_ov_npu_workflow"
        }
    ],
    "modelInfo": {
        "id": "huggingface/stable-diffusion-v1-5/stable-diffusion-v1-5",
        "version": 3
    }
}
