{
    "workflows": [
        {
            "file": "phi3_ov_config.json",
            "templateName": "phi3_ov_config"
        },
        {
            "file": "phi3_ov_npu_config.json",
            "templateName": "phi3_ov_npu_config"
        },
        {
            "file": "phi3_trtrtx.json",
            "templateName": "phi3_trtrtx"
        },
        {
            "file": "phi3_qnn.json",
            "templateName": "phi3_qnn"
        },
        {
            "file": "phi3_vitis_ai_config.json",
            "templateName": "phi3_vitis_ai_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-3-mini-4k-instruct",
        "version": 4
    }
}
