{
    "copies": [
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|user|>\\\\n{input} <|end|>\\\\n<|assistant|>"
                },
                {
                    "find": "ExecutionProvider=\\\"QNNExecutionProvider\\\"",
                    "replace": "ExecutionProvider=\\\"OpenVINOExecutionProvider\\\""
                }
            ]
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/winml.py",
            "dst": "winml.py"
        },
        {
            "src": "../../microsoft-Phi-3-mini-4k-instruct/aitk/phi3_ov_npu_config.json",
            "dst": "phi3_ov_npu_config.json",
            "replacements": [
                {
                    "find": "microsoft/Phi-3-mini-4k-instruct",
                    "replace": "microsoft/Phi-3-mini-128k-instruct"
                }
            ]
        }
    ]
}
