{
    "copies": [
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "ExecutionProvider=\\\"QNNExecutionProvider\\\"",
                    "replace": "ExecutionProvider=\\\"OpenVINOExecutionProvider\\\""
                }
            ]
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/winml.py",
            "dst": "winml.py"
        }
    ]
}
