{
    "workflows": [
        {
            "file": "qnn_workflow.json",
            "templateName": "qnn_workflow"
        },
        {
            "file": "ov_workflow.json",
            "templateName": "ov_workflow"
        },
        {
            "file": "ov_npu_workflow.json",
            "templateName": "ov_npu_workflow"
        }
    ],
    "modelInfo": {
        "id": "huggingface/openai/whisper-large-v3-turbo",
        "version": 3
    }
}
